<html>
    <head>
      <style>
        h1 {
          font-size: 24px; 
          font-weight: bold; 
        }
        p {
          color: #333;
          font-size: 16px; 
        }
      </style>
    </head>
    <body>
      <h1>Hello!</h1>
      <h1>You just made reservation at Navbar restaurant.</h1>
      </br>
      <p><strong>Reservation ID:</strong> {{id}}</p>
      <p><strong>Date:</strong> {{date}} at {{hour}}</p>
      <p><strong>Name:</strong> {{fullName}}</p>
      <p><strong>Contact:</strong> {{contact}}</p>
      <p><strong>People number:</strong> {{peopleNumber}}</p>
      <p><strong>Table number:</strong> {{tableNumber}}</p>
      <br>
      <p>To confirm your reservation use the button below:</p>
      </br>
      <a href="{{fullLink}}" style="background-color: #4e5140; color: white; border-radius: 5px; padding: 10px 20px; text-align: center; font-size: 16px; font-weight: bold; cursor: pointer; text-decoration: none;">
        Confirm
      </a>
      </br>
      </br>
      </br>
      <p style="font-size: 12px; margin: 20px 0 0 0;">Or you can use the link below by clicking on it or pasting it into your browser</p>
      <a href="{{fullLink}}" style="text-decoration: none; color: #333; font-size: 12px; margin: 0;">{{fullLink}}</a>
    </body>
</html>